@font-face {
  font-family: "iconfont"; /* Project id 3190323 */
  src: url('iconfont.woff2?t=1645466127448') format('woff2'),
       url('iconfont.woff?t=1645466127448') format('woff'),
       url('iconfont.ttf?t=1645466127448') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-alert-circle:before {
  content: "\e856";
}

.icon-arrow-right:before {
  content: "\e857";
}

.icon-arrow-up:before {
  content: "\e858";
}

.icon-arrow-down-right:before {
  content: "\e859";
}

.icon-arrow-up-left:before {
  content: "\e85a";
}

.icon-arrow-down:before {
  content: "\e85b";
}

.icon-arrow-up-right:before {
  content: "\e85c";
}

.icon-check:before {
  content: "\e85d";
}

.icon-chevron-right:before {
  content: "\e85e";
}

.icon-chevron-up:before {
  content: "\e85f";
}

.icon-chevron-down:before {
  content: "\e860";
}

.icon-clipboard:before {
  content: "\e861";
}

.icon-disc:before {
  content: "\e862";
}

.icon-copy:before {
  content: "\e863";
}

.icon-download:before {
  content: "\e864";
}

.icon-edit1:before {
  content: "\e865";
}

.icon-edit-2:before {
  content: "\e866";
}

.icon-maximize-2:before {
  content: "\e869";
}

.icon-link:before {
  content: "\e868";
}

.icon-message-square:before {
  content: "\e86a";
}

.icon-moon:before {
  content: "\e86b";
}

.icon-minimize-2:before {
  content: "\e86d";
}

.icon-chevron-left:before {
  content: "\e86e";
}

.icon-link-2:before {
  content: "\e86f";
}

.icon-minimize:before {
  content: "\e87a";
}

.icon-arrow-down-left:before {
  content: "\e87d";
}

.icon-arrow-down-right1:before {
  content: "\e87e";
}

.icon-arrow-up1:before {
  content: "\e87f";
}

.icon-arrow-up-left1:before {
  content: "\e880";
}

.icon-arrow-right1:before {
  content: "\e881";
}

.icon-arrow-down1:before {
  content: "\e882";
}

.icon-award:before {
  content: "\e885";
}

.icon-arrow-up-right1:before {
  content: "\e886";
}

.icon-arrow-left:before {
  content: "\e887";
}

.icon-box:before {
  content: "\e888";
}

.icon-bookmark1:before {
  content: "\e889";
}

.icon-arrow-right-circle:before {
  content: "\e88a";
}

.icon-cloud:before {
  content: "\e88b";
}

.icon-compass:before {
  content: "\e88c";
}

.icon-disc1:before {
  content: "\e88d";
}

.icon-external-link:before {
  content: "\e88e";
}

.icon-headphones:before {
  content: "\e88f";
}

.icon-home:before {
  content: "\e890";
}

.icon-lock:before {
  content: "\e891";
}

.icon-log-out:before {
  content: "\e892";
}

.icon-log-out-2:before {
  content: "\e893";
}

.icon-log-in:before {
  content: "\e894";
}

.icon-link1:before {
  content: "\e895";
}

.icon-maximize:before {
  content: "\e896";
}

.icon-maximize-21:before {
  content: "\e897";
}

.icon-minimize-21:before {
  content: "\e898";
}

.icon-refresh-cw:before {
  content: "\e899";
}

.icon-repeat:before {
  content: "\e89a";
}

.icon-rotate-cw:before {
  content: "\e89b";
}

.icon-skip-forward:before {
  content: "\e89c";
}

.icon-x-circle:before {
  content: "\e8a3";
}

.icon-upload1:before {
  content: "\e8a0";
}

.icon-accountbalancewallet:before {
  content: "\e66e";
}

.icon-accountbox:before {
  content: "\e66f";
}

.icon-accountchild:before {
  content: "\e670";
}

.icon-accountcircle:before {
  content: "\e671";
}

.icon-add:before {
  content: "\e672";
}

.icon-addbox:before {
  content: "\e673";
}

.icon-addcircle:before {
  content: "\e674";
}

.icon-addcircleoutline:before {
  content: "\e675";
}

.icon-album:before {
  content: "\e678";
}

.icon-arrowdropup:before {
  content: "\e691";
}

.icon-arrowforward:before {
  content: "\e693";
}

.icon-arrowleft:before {
  content: "\e697";
}

.icon-arrowright:before {
  content: "\e698";
}

.icon-arrowup:before {
  content: "\e699";
}

.icon-block:before {
  content: "\e69c";
}

.icon-backspace:before {
  content: "\e6a4";
}

.icon-bag:before {
  content: "\e6a6";
}

.icon-ban:before {
  content: "\e6a7";
}

.icon-close:before {
  content: "\e6d5";
}

.icon-circlecross:before {
  content: "\e6db";
}

.icon-circleminus:before {
  content: "\e6dc";
}

.icon-circleplus:before {
  content: "\e6dd";
}

.icon-clear:before {
  content: "\e6df";
}

.icon-cog:before {
  content: "\e6e3";
}

.icon-cross:before {
  content: "\e6f5";
}

.icon-dashboard:before {
  content: "\e6f7";
}

.icon-contentleft:before {
  content: "\e700";
}

.icon-contentright:before {
  content: "\e702";
}

.icon-contract:before {
  content: "\e703";
}

.icon-done:before {
  content: "\e709";
}

.icon-doneall:before {
  content: "\e70a";
}

.icon-drop:before {
  content: "\e70e";
}

.icon-dndon:before {
  content: "\e717";
}

.icon-edit:before {
  content: "\e722";
}

.icon-fastforward:before {
  content: "\e736";
}

.icon-fastrewind:before {
  content: "\e738";
}

.icon-favorite:before {
  content: "\e739";
}

.icon-favoriteoutline:before {
  content: "\e73a";
}

.icon-folder:before {
  content: "\e73e";
}

.icon-folder2:before {
  content: "\e73f";
}

.icon-folderopen:before {
  content: "\e740";
}

.icon-flag:before {
  content: "\e749";
}

.icon-flag2:before {
  content: "\e74a";
}

.icon-grid:before {
  content: "\e74f";
}

.icon-paper:before {
  content: "\e804";
}

.icon-paperstack:before {
  content: "\e808";
}

.icon-play:before {
  content: "\e82e";
}

.icon-playarrow:before {
  content: "\e82f";
}

.icon-playcirclefill:before {
  content: "\e830";
}

.icon-playcircleoutline:before {
  content: "\e831";
}

.icon-plus:before {
  content: "\e848";
}

.icon-portrait:before {
  content: "\e84a";
}

.icon-refresh:before {
  content: "\e851";
}

.icon-remove:before {
  content: "\e854";
}

.icon-repeat2:before {
  content: "\e86c";
}

.icon-search:before {
  content: "\e883";
}

.icon-search2:before {
  content: "\e884";
}

.icon-skipback:before {
  content: "\e8a6";
}

.icon-skipforward:before {
  content: "\e8a7";
}

.icon-skipnext:before {
  content: "\e8a8";
}

.icon-skipprevious:before {
  content: "\e8a9";
}

.icon-squareminus:before {
  content: "\e8b4";
}

.icon-squareplus:before {
  content: "\e8b5";
}

.icon-stack:before {
  content: "\e8b6";
}

.icon-toggle:before {
  content: "\e8d0";
}

.icon-trash:before {
  content: "\e8d6";
}

.icon-thumbdown:before {
  content: "\e8dc";
}

.icon-thumbsupdown:before {
  content: "\e8dd";
}

.icon-thumbup:before {
  content: "\e8de";
}

.icon-umbrella:before {
  content: "\e8e1";
}

.icon-upload:before {
  content: "\e8e5";
}

.icon-turnedin:before {
  content: "\e8f0";
}

.icon-turnedinnot:before {
  content: "\e8f1";
}

.icon-viewday:before {
  content: "\e8f3";
}

.icon-viewheadline:before {
  content: "\e8f4";
}

.icon-viewweek:before {
  content: "\e8f9";
}

.icon-toolbox-fill:before {
  content: "\e6b7";
}

.icon-app:before {
  content: "\e728";
}

.icon-bookmark:before {
  content: "\e640";
}

.icon-book:before {
  content: "\e69d";
}

.icon-musicbox:before {
  content: "\e975";
}

.icon-ico-app:before {
  content: "\e657";
}

.icon-appstore:before {
  content: "\e601";
}

.icon-zhinanzhen:before {
  content: "\e682";
}

.icon-apps-fill:before {
  content: "\eb7d";
}

.icon-VideoClip-1:before {
  content: "\e6f2";
}

.icon-qi:before {
  content: "\e692";
}

.icon-rili:before {
  content: "\e695";
}

.icon-tubiao:before {
  content: "\e696";
}

.icon-richeng:before {
  content: "\e694";
}

