.header{
    width:100%;
    padding:20px;
}
.header .title{
    color:var(--title-color);
    font-weight:800;
    font-size:18px;
}
.sub-header{
    width:100%;
    padding:0 20px 5px 20px;
}
.sub-header .title{
    color:var(--title-color);
    font-weight:800;
    font-size:18px;
}