:root {
    --card-inset-big: 20px;
    --card-inset-small: 10px;
}

.header {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.header .title {
    color: var(--title-color);
    font-weight: 800;
    font-size: 18px;
}

.sub-header {
    width: 100%;
    padding: 0 20px 5px 20px;
}

.sub-header .title {
    color: var(--title-color);
    font-weight: 800;
    font-size: 18px;
}

.tabs {
    width: calc(100% - 2 * var(--card-inset-big));
    box-sizing: border-box;
    display: flex;
    justify-content: stretch;
    margin: 0 var(--card-inset-big);
    background: var(--sub-card-color);
    padding: 5px;
    border-radius: 13px;
}

.tab {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--item-radius);
    cursor: pointer;
}

.tab-active {
    color: var(--accent-color);
    background: var(--card-color);
}