:root {
    /* 颜色*/
    --accent-color: #3c9dff;
    --bg-color: #eee;
    /* container */
    --card-color: #fff;
    --page-color: #fff;
    --sub-card-color: #f3f3f3;
    /* text */
    --title-color: #000;
    --subtitle-color: #555555;
    --content-color: #000;
    --hover-color: #00000013;
    --active-color: #00000023;
    --line-color: #e0e0e0;
    /* 强调色 */
    --warn-color: #ff2600;
    /* 高度/宽度参数*/
    --head-height: 80px;
    --side-width: 100px;
    /* 基本组件大小 */
    --icon-size: 30px;
    /* 圆角弧度 */
    --card-radius: 16px;
    --item-radius: 10px;
    --button-small-radius: 7px;
    /* 手机端 */
    --bottom-height: 60px;
}

@media screen and (prefers-color-scheme: dark) {
     :root {
        --accent-color: #3c9dff;
        --bg-color: #000;
        /* container */
        --card-color: #414141;
        --page-color: #414141;
        --sub-card-color: #222222;
        /* text */
        --title-color: #fff;
        --subtitle-color: #ddd;
        --content-color: #fff;
        --hover-color: #ffffff33;
        --active-color: #ffffff71;
        --line-color: #141414;
    }
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--content-color);
    font-family: MiSans, 'San Francisco', 'SF Pro Display', 'PingFang SC', Helvetica, Arial, sans-serif;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-align: center; */
    /* color: #2c3e50; */
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:visited,
a:active {
    color: var(--accent-color);
}

input:focus {
    outline: none;
}

ul {
    list-style-type: none;
    margin-block-start: 0;
    padding-inline-start: 0;
}

input[type=text] {
    font-family: MiSans, 'San Francisco', 'SF Pro Display', 'PingFang SC', Helvetica, Arial, sans-serif;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    border-radius: var(--card-radius);
    padding: 9px;
    box-sizing: border-box;
    background: var(--sub-card-color);
    color: var(--content-color);
    font-size: 15px;
    border-radius: var(--item-radius);
    transition: border-color .2s ease;
}

input[type=text]:hover {
    border-color: var(--accent-color);
}

input[type=text]:focus {
    border-color: var(--accent-color);
}

input[type=text]::placeholder {
    /* color: var(--content-color); */
}

input[type=text] {}

button {
    font-family: MiSans, 'San Francisco', 'SF Pro Display', 'PingFang SC', Helvetica, Arial, sans-serif;
}


/* customized buttons */

button.icon-button {
    border: none;
    background: none;
    color: var(--content-color);
    cursor: pointer;
    transition: all .2s ease;
    padding: 7px;
    border-radius: var(--button-small-radius);
}

button.icon-button:hover {
    background: var(--hover-color);
}

button.icon-button:active {
    background: var(--accent-color);
    color: #fff;
}


/* effects */

.ef-pudding {
    transition: transform .2s ease, background-color .2s ease;
}

.ef-pudding:hover {
    transform: scale(1.1);
    background: var(--hover-color);
}

.ef-pudding:active {
    transform: scale(0.95);
    background: var(--active-color);
}

.ef-float {
    transition: transform .2s ease, box-shadow .2s ease;
}

.ef-float:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px 3px #00000024;
}

.ef-float:active {
    transform: translateY(0px);
    box-shadow: none;
}

.ef-fadein {
    transition: background-color .2s ease;
}

.ef-fadein:hover {
    background: var(--hover-color);
}

.ef-fadein:active {
    background: var(--active-color);
}


/* tiny */

.tiny-cube {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-rows: 120px;
    gap: 10px;
    justify-content: center;
    padding: 0 10px 10px 10px;
}

.tiny-cube-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: var(--item-radius);
    /* background: #000; */
    gap: 5px;
    cursor: pointer;
}

.tiny-list {
    display: flex;
    flex-direction: column;
    padding: 0 10px 10px 10px;
    /* gap: 10px; */
}

.tiny-list-item {
    display: flex;
    gap: 10px;
    padding: 15px 0;
    border-bottom: 1px solid var(--line-color);
    cursor: pointer;
}

.tiny-list-item:last-child {
    border-bottom: none;
}

.tiny-row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 120px;
    gap: 10px;
    justify-content: center;
    padding: 0 10px 10px 10px;
    /* gap: 10px; */
}

.tiny-row-item {
    display: flex;
    gap: 10px;
    padding: 15px 0;
    cursor: pointer;
    border-radius: var(--item-radius);
}


/* Common page */

.common-page {
    background: var(--card-color);
    padding: 20px;
    border-top-left-radius: var(--card-radius);
    box-sizing: border-box;
}

@media screen and (max-width:600px) {
    .common-page {
        border-top-left-radius: 0;
    }
}


/* Animations */

.page-fade-enter-active {
    position: absolute;
    top: var(--head-height);
    /* left: var(--side-width); */
    transition: opacity .1s ease, transform .2s ease;
    z-index: 10;
}

.page-fade-leave-active {
    position: absolute;
    top: var(--head-height);
    /* left: var(--side-width); */
    transition: opacity .5s ease, transform .4s ease;
    z-index: -1;
}

@media screen and (max-width:600px) {
    .page-fade-enter-active {
        /* top: var(--head-height); */
        /* left: 0; */
    }
    .page-fade-leave-active {
        /* top: var(--head-height); */
        /* left: 0; */
    }
}

.page-fade-enter {
    transform: translateY(100vh);
    opacity: 0;
}

.page-fade-leave-to {
    transform: translateY(10vh) scale(0.98);
    opacity: 0;
}

.fade-enter-active {
    /* left: var(--side-width); */
    transition: opacity .4s ease;
    z-index: 10;
}

.fade-leave-active {
    /* left: var(--side-width); */
    transition: opacity .4s ease;
    z-index: -1;
}

.fade-enter {
    opacity: 0;
}

.fade-leave-to {
    opacity: 0;
}


/* fixes */

.fix-text-overflow {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fix-text-overflow-multiline {
    max-width: 100%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}