:root {
    /* 颜色*/
    --accent-color: #3c9dff;
    --bg-color: #eee;
    --card-color: #fff;
    --title-color: #000;
    --subtitle-color: #555555;
    --content-color: #000;
    --hover-color: #00000013;
    --active-color: #00000023;
    /* 高度/宽度参数*/
    --head-height: 80px;
    --side-width: 100px;
    --card-radius: 16px;
    /* 手机端 */
    --bottom-height: 60px;
}

@media screen and (prefers-color-scheme: dark) {
     :root {
        --accent-color: #3c9dff;
        --bg-color: #000;
        --card-color: #414141;
        --title-color: #fff;
        --subtitle-color: #ddd;
        --content-color: #fff;
        --hover-color: #ffffff13;
        --active-color: #ffffff23;
    }
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--content-color);
    font-family: 'San Francisco', 'SF Pro Display', 'PingFang SC', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-align: center; */
    /* color: #2c3e50; */
}

a {
    color: var(--accent-color);
}

a:visited,
a:active {
    color: initial;
}

input:focus {
    outline: none;
}
/* effects */
.ef-pudding{
  transition: transform .2s ease,background-color .2s ease;
}
.ef-pudding:hover{
  transform: scale(1.1);
  background: var(--hover-color);
}
.ef-pudding:active{
  transform: scale(0.95);
  background: var(--active-color);
}

.ef-float{
    transition:transform .2s ease,box-shadow .2s ease;
}
.ef-float:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px 3px #00000024;
}
.ef-float:active {
  transform: translateY(0px);
  box-shadow: none;
}