:root {
    /* 颜色*/
    --accent-color: #3c9dff;
    --bg-color: #eee;
    /* 容器 */
    --card-color: #fff;
    --page-color: #fff;
    --sub-card-color: #f3f3f3;
    /* 模糊容器 */
    --blurred-card-color: #ffffffc7;
    --blurred-sub-card-color: #0000000c;
    /* 文字 */
    --title-color: #000;
    --subtitle-color: #afafaf;
    --content-color: #000;
    --hover-color: #00000013;
    --active-color: #00000023;
    --line-color: #e0e0e0;
    --placeholder-color: #afafaf;
    /* 模糊文字 */
    --title-color-blurred: #fff;
    --subtitle-color-blurred: #ddd;
    --content-color-blurred: #fff;
    /* 模糊文字 */
    --blurred-subtitle-color: #ffffffd0;
    --blurred-line-color: #0000001a;
    /* 强调色 */
    --warn-color: #ff2600;
    /* 控件 */
    --input-bg-color: #f1f1f1;
    --input-border-color: #c0c0c0;
    /* 强制夜间文字色 */
    --title-color-dark: #fff;
    --subtitle-color-dark: #9c9c9c;
    --content-color-dark: #fff;
    --hover-color-dark: #ffffff33;
    --active-color-dark: #ffffff71;
    --line-color-dark: #0000004f;
    /* 强制夜间容器色 */
    --card-color-dark: #414141;
    --blurred-color-dark: #00000034;
    --page-color-dark: #414141;
    --sub-card-color-dark: #222222;
}

@media screen and (prefers-color-scheme: dark) {
     :root {
        --accent-color: #3c9dff;
        --bg-color: #000;
        /* 容器 */
        --card-color: #414141;
        --blurred-color: #00000034;
        --page-color: #414141;
        --sub-card-color: #222222;
        /* 模糊容器 */
        --blurred-card-color: #414141b2;
        --blurred-sub-card-color: #ffffff10;
        /* 文字 */
        --title-color: #fff;
        --subtitle-color: #9c9c9c;
        --content-color: #fff;
        --hover-color: #ffffff33;
        --active-color: #ffffff71;
        --line-color: #0000004f;
        --placeholder-color: #cac9c9;
        /* 模糊文字 */
        --blurred-line-color: #ffffff15;
        /* 控件 */
        --input-bg-color: #313131;
    }
}