:root {
    /* 颜色*/
    --accent-color: #3c9dff;
    --bg-color: #eee;
    /* container */
    --card-color: #fff;
    --page-color: #fff;
    --sub-card-color: #f3f3f3;
    /* 模糊 */
    --blurred-card-color: #ffffffc7;
    --blurred-sub-card-color: #0000000c;
    /* text */
    --title-color: #000;
    --subtitle-color: #555555;
    --content-color: #000;
    --hover-color: #00000013;
    --active-color: #00000023;
    --line-color: #e0e0e0;
    /* Dark */
    --title-color-blurred: #fff;
    --subtitle-color-blurred: #ddd;
    --content-color-blurred: #fff;
    /* 强调色 */
    --warn-color: #ff2600;
}

@media screen and (prefers-color-scheme: dark) {
     :root {
        --accent-color: #3c9dff;
        --bg-color: #000;
        /* container */
        --card-color: #414141;
        --blurred-color: #00000034;
        --page-color: #414141;
        --sub-card-color: #222222;
        /* text */
        --title-color: #fff;
        --subtitle-color: #ddd;
        --content-color: #fff;
        --hover-color: #ffffff33;
        --active-color: #ffffff71;
        --line-color: #141414;
    }
}